.sidebar {
  grid-area: nav;
  background-color: cadetblue;
  padding: 20px;
  border: 4px double white;
  background: #4CAF50; 
  padding: 10px; 
}

.item a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 10px;
 
}

.item a.active {
  color: gold;
}